.bg-container {
    
    

    background-image: url("https://res.cloudinary.com/dz3cn5nfe/image/upload/v1708934786/3jfjc53fsyb61_rfw44d.jpg");
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 370px;
    margin-right: 370px;
    text-align: justify;
    border-radius: 10px;
    
}



.bg-top {
    background-color: rgb(66, 63, 63);

    border: 2px solid black;

    height: 4%;
    border-radius: 10px;

    

}


.bg-middle {
    background-image: url("https://res.cloudinary.com/dz3cn5nfe/image/upload/v1708934786/3jfjc53fsyb61_rfw44d.jpg");
    height: 100vh;
    background-size: cover;
    
    

}


.bg-bottom {
    background-color: rgb(66, 63, 63);
    height: 8vh;
    border: 2px solid black;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    

}

.sub-card1 {
    background-color: rgb(66, 63, 63);
    height: 35px;
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.sub-card2 {
    background-color: #075E54;
    height: 35px;
    width: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.sub-head {
    color: white;
    font-size: 13px;
    font-weight: 100;
    padding: 10px;
    
    
    
}

.head {
    color: white;
    font-size: 15px;
    font-weight: 100;
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
}

.par {
    color: white;
    font-size: 10px;
    font-weight: 100;
    margin-left: 15px;
    margin-bottom: 10px; 
}

.ico {
    color: white;
}

.imgrr {
    margin-left: 10px;
    margin-top: 20px;
}

.img1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    

}

.imgv{
    margin-left: 170px;
    margin-top: 20px;
}

.imgp{
    margin-left: 45px;
    margin-top: 20px;
}

.imgdot{
    margin-left: 45px;
    margin-top: 20px;
}

.div1 {
    display: inline-block;
    height: 30px;
    width: 30px;

    margin-left: 10px;

}

.div2 {
    display: inline-block;
    
}


.sbc-stick{
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    
    



}

.stiuccy{
    position: sticky;
    top: 10px;
}

.divvv {
    height: 550px;
    width: 100%;
}

.hb {
    background-color: rgb(50, 49, 49);
    height: 30px;
    width: 90px;
    border-radius: 10px;
    margin: 10px;
    
}

.h_1{
    color: rgb(188, 186, 186);
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    padding: 8px;

}

.sub-cardL {
    margin-bottom: 130px;

    background-color: #075E54;
    height: 35px;
    width: 50%;
    margin-right: 10px;
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}




.bt-icon {
    color: rgb(185, 181, 181);
}

.btdiv{
    display: inline-block;
}


.d {
    
    color: white;
    font-size: 20px;
    

}

.msg{
    margin-left: 15px;
}

.lk {
    margin-left: 120px;
}

.rs{
    margin-left: 20px;
}

.cam{
    margin-left: 20px;
}


.mdiv {
    height: 50px;
    width: 50px;
    background-color: #075E54;
    text-align: center;
    padding: 13px;
    margin-left: 20px;
    border-radius: 50px;
    margin-bottom: 3px;
    
}







